/*.woocommerce-shipping-calculator #calc_shipping_city_field{
	display: none !important;
}

.woocommerce-shipping-calculator #calc_shipping_state_field{
	display: none !important;
}

.shipping-calculator-button{
	display: none !important;
}

.woocommerce-shipping-calculator #calc_shipping_country_field{
	position: fixed;
    top: -9999px;
    right: -9999px;
}

.woocommerce-shipping-destination {
    display: none !important;
}

#alpha_time_pickup{
	-webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border-radius: 0;
    border-style: solid;
    border-width: 0.1rem;
    box-shadow: none;
    display: block;
    font-size: 1.6rem;
    letter-spacing: -0.015em;
    margin: 0;
    max-width: 100%;
    padding: 1.5rem 1.8rem;
    width: 100%;
}

.shipping-calculator-form{
	display: block !important;
}
*/
.checkout-button{
	display: none !important;
}